html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px){
    .bd-sidebar {
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 8rem);
    }


textarea{
    resize: none;
    width: 100%;
}